<%- include ("partials/header") %>

<div class="container" style="margin-top: 100px; margin-bottom: 40px;">
    <h1 class="display-4">HOTEL INFO</h1>
    <div class="row d-flex justify-content-center mt-4">
        <div id="disp" class="col-8">
            <img src="<%= hotel.image %>" alt="Responsive image" class="img-thumbnail">
            <div class="container mt-4">
                <div class="caption-full">
                    <h5 class="float-right" style="line-height: 1.5em;">Rs.<%= hotel.price %>/night</h5>
                    <h3><%= hotel.name.toUpperCase() %></h3>
                </div>
                <hr>
                <p><img src="/Images/address.png" class="pr-2"><strong>Location :</strong> <%= hotel.location %></p>
                <hr>
                <p><strong>Description : </strong></p>
                <p><%- hotel.description %></p>
                <hr>
                <p><strong>Amenities : </strong></p>
                <p>
                    <% hotel.amenities.forEach(function(amenity){ %>
                        <ul>
                            <li><%= amenity %></li>
                        </ul>
                    <% }); %>      
                </p>
                <hr>
                <p><strong>Room Type :</strong> <%= hotel.roomtype %></p>
                <p><strong>Room Desc :</strong> <%= hotel.roomdesc %></p>
                <hr>
                <p><strong>Hotel Rating : </strong><%= hotel.rating %>/5</p>
                <hr>
                <p><strong>Things To Keep In Mind</strong></p>
                Checkout : <%= hotel.checkout %>
                <hr>
                <p><strong>Accessibility : </strong></p>
                <p><%= hotel.accessibility %></p>
                <hr>
                <p><strong>Cancellation Policy : </strong></p>
                <p><%= hotel.cancellation %></p>
                <hr>
                <p><strong>House Rules : </strong></p>
                <p>
                    <% hotel.houserules.forEach(function(rule){ %>
                        <ul>
                            <li><%= rule %></li>
                        </ul>
                    <% }); %>      
                </p>
                <hr>
                <p><strong>Contact Details : </strong></p>
                <p class="pl-3">
                    <strong>Address : </strong><%= hotel.address %>
                    <br>
                    <strong>Phone : </strong>+91 - <%= hotel.phone %>
                </p>
                <hr>
                <p class="float-right" style="font-size: 0.8em;"><em>Updated on :</em> <%= hotel.created.toDateString() %></p>
                <br>
                <a class="btn btn-outline-warning" href="/hotels/<%= hotel._id%>/edit">EDIT</a>
                <form id="delete" action="/hotels/<%= hotel._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>
